<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Vue</title>
	<script src="vue.js"></script>
	<style>
		#canvas {
			width: 400px;
			height: 400px;
			cursor: crosshair;
		}
		.annotation {
			border: 1px dotted #1c90f3;
			position: absolute;
		}
		.annotation:hover .btn-close {
			display: block;
		}
		.annotation .btn-close {
			position: absolute;
			font-size: 14px;
			line-height: 16px;
			width: 16px;
			height: 16px;
			text-align: center;
			border-radius: 10px;
			color: white;
			right: -10px;
			top: -10px;
			border: 2px solid white;
			text-decoration: none;
			background-color: black;
			display: none;
		}
		.outline {
			border: 1px dotted #999;
			position: absolute;
		}
		.annotation-input {
			position: absolute;
			bottom: -24px;
			left: 0;
		}
	</style>
</head>
<body>
	<h1>annotation demo</h1>
	<div id="app">
		<annotatable :annotations="annotations">
			<img id="image" draggable="false" src="http://vuejs.org/images/logo.png" alt="Vue logo">
		</annotatable>
	</div>

	<template id="annotation-template">
		<div class="annotation" v-bind:style="size">
			{{ label }}
			<component v-if="isNew" :is="input" @keyup.enter="labeled"></component>
			<a class="btn-close" href="#" @click="close" @mousedown.stop @mouseup.stop>&times;</a>
		</div>
	</template>

	<template id="input-text-template">
		<div class="annotation-input" @mousedown.stop @mouseup.stop>
			<input type="text" name="annotation_text" autofocus>
		</div>
	</template>

	<template id="outline-template">
		<div class="outline" v-bind:style="size"></div>
	</template>

	<template id="annotatable-template">
		<div id="canvas" v-on:mousedown="beginDraw" v-on:mousemove="drawing" v-on:mouseup="drawn">
			<slot>请在此填充内容</slot>
			<annotation v-for="annotation in annotations" :props="annotation" input="input-text">
			</annotation>
			<outline v-if="newAnnotationDrawing" :props="newAnnotation"></outline>
		</div>
	</template>

	<script>
	Vue.config.devtools = true;
	var sizeToStyle = function(props) {
		return {
			left: props.x + 'px',
			top: props.y + 'px',
			width: props.width + 'px',
			height: props.height + 'px'
		};
	};
	var randomId = function() {
		return Math.random().toString(36).substr(2, 9);
	};
	Vue.component('annotation', {
		props: ['props', 'input'],
		template: '#annotation-template',
		computed: {
			size: function(){
				return sizeToStyle(this.props);
			},
			isNew: function() {
				return this.props.status == 'new';
			},
			label: function() {
				return this.props.label;
			},
			status: function() {
				return this.props.status;
			},
			id: function() {
				return this.props.id;
			}
		},
		methods: {
			labeled: function(e) {
				console.log('labeled', this.id);
				this.$dispatch('labeled', {id: this.id, label: e.target.value});
			},
			close: function(e) {
				console.log('remove', this.id);
				this.$dispatch('remove', {id: this.id});
			}
		},
		components: {
			InputText: {
				template: '#input-text-template',
			},
			InputNone: {
				template: '',
				created: function() {
					this.$dispatch('labeled');
				}
			}
		}

	});

	Vue.component('outline', {
		props: ['props'],
		template: '#outline-template',
		computed: {
			size: {
				cache: false,
				get: function(){
					return sizeToStyle(this.props);
				},
			}
		}
	});
	Vue.component('annotatable', {
		template: '#annotatable-template',
		props: ['annotations'],
		data: function() {
			return {
				newAnnotation: null,
				newAnnotationDrawing: false,
				lock: false
			}
		},
		methods: {
			beginDraw: function(e) {
				if (this.lock) return;
				this.newAnnotationDrawing = true;
				this.newAnnotation = { 
					x: e.clientX, y: e.clientY, width:1, height:1, 
					status:'new',
					label: '',
					id: randomId()
				};
			},
			drawing: function(e) {
				if (!this.newAnnotationDrawing) return;
				this.newAnnotation.width = e.clientX - this.newAnnotation.x;
				this.newAnnotation.height = e.clientY - this.newAnnotation.y;
			},
			drawn: function(e) {
				if (this.lock) return;
				if(this.newAnnotation.width<3 || this.newAnnotation.height<3) {
					this.newAnnotationDrawing = false;
					return;
				}
				this.annotations.push(this.newAnnotation);
				this.newAnnotationDrawing = false;
				this.newAnnotation = null;
				this.lock = true;
			}
		},
		events: {
			labeled: function(msg) {
				this.lock = false;
				if (!msg) return;
				for (var i = 0; i < this.annotations.length; i++) {
					if (this.annotations[i].id == msg.id) {
						this.annotations[i].label = msg.label;
						this.annotations[i].status = 'labeled';
					}
				}
			},
			remove: function(msg) {
				this.annotations = this.annotations.filter(function(annotation){
					return annotation.id != msg.id;
				})
			}
		}
	});

	new Vue({
	  el: '#app',
	  data: {
		greeting: 'Welcome to your Vue.js app!',
		annotations: [
			{
				x: 118,
				y: 123,
				width: 182,
				height: 139,
				label: "cat",
			},
			{
				x: 229,
				y: 301,
				width: 138,
				height: 110,
				label: "bear",
			}
		]
	  },
	  methods: {
	  }
	})
	</script>
</body>
</html>
